/**************************
GENERAL
**************************/

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin:  0 0 1em 0;
}


/**************************
HEADING
**************************/

header {
  margin: 0 0 40px 0;
  padding: 5px 0 0 0;
  width: 100%;
  box-shadow: 15px 15px 15px #333;
  border-radius: 10px;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Homemade Apple', sans-serif;
  margin: 15px 0;
  font-size: 3em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 1em;
  margin: -5px 0 0;
  font-weight: normal;
}


/**************************
NAVIGATION
**************************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px;
  border-style: inset;
  box-shadow: 0px 20px 80px #222;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/**************************
Footer
**************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #666;
}

/**************************
PAGE HOME
**************************/

#wrapper li {
  list-style: none;
}

/**************************
PAGE ADD
**************************/

#add {
  text-align: center;
}

#entryTitle {
  padding: 10px;
  width: 300px;
}

#textbox {
  padding: 10px;
  height:180px;
  width: 400px;
}


/**************************
PAGE EDIT
**************************/




/**************************
PAGE DETAIL
**************************/


/**************************
PAGE LOGIN
**************************/
#login {
  text-align: center;
}


/**************************
COLORS
**************************/

/* Site Body */
body {
  background-color: #ffe6b5;
  color: #666;
  text-indent: 50px;
}

/* Orange Header */
header {
  background: #dd6a0a;
  border-color: #e58331;
}

/* Nav Background */
nav {
  background: #e58331;
  border-color: #ffe6b5;
}

/* Logo Text */
h1, h2 {
  color: #ffe6b5;
}

/* Links */
a, a:visited {
  color: black;
}

a.selected, a:hover {
  color: #dd6a0a;
}

/* Nav Links */
nav a, nav a:visited {
  color: #ffe6b5;
}

nav a.selected, nav a:hover {
  color: #333;
}


/**************************
Test
**************************/

.entry_text {
  display: none;
}