<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tyler Peek | Home</title>
  <link href="/static/style.css" rel="stylesheet">
  <link href="/static/codehilite.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
  <header>
    <a href="{{ request.route_url('home') }}" id="logo">
      <h1 class="name">Tyler Peek</h1>
      <h2>Python Developer</h2>
    </a>

{% block section %}
{% endblock %}

  <footer>
  </a>
  <p>&copy; 2015 Tyler Peek.</p>
</footer>
</div>
</body>
</html>
