{% extends "base.jinja2" %}
{% block section %}
<nav>
  <ul>
    <li><a href="{{ request.route_url('home') }}">Home</a></li>
    {% if request.authenticated_userid %}
    <li><a id="add" href="{{ request.route_url('add') }}">Add</a></li>
    <li><a id="edit" href="{{ request.route_url('edit', entry_id=id) }}">Edit</a></li>
    <li><a id="logout" href="{{ request.route_url('logout') }}">Log Out</a></li>
    {%- endif %}
  </ul>
</nav>
</header>
<body>
<div id="wrapper">
  <div id="myDiv"></div>
  <section id="entry" class="highlight">
    {% if request.authenticated_userid %}
    <button id="edit_entry" type="button" onclick="loadXMLDoc()">Edit Entry</button>
    {% endif %}
    <h3 id="title1" class="title">{{ time }} ---- {{ title }}</h3>
    <div id="text1" class="text">{{ text|safe }}</div>
  </section>
</div>
</body>

<script>
  function loadXMLDoc() {
    document.getElementById('myDiv').style.display = 'initial';
    document.getElementById('edit_entry').style.display = 'none';
    document.getElementById('entry').style.display = 'none';
    xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET","{{ request.route_url('ajax_edit', entry_id=id) }}",true);
    xmlhttp.send();

    xmlhttp.onreadystatechange = function () {
    if (xmlhttp.readyState === 4) {
      document.getElementById('myDiv').innerHTML = xmlhttp.responseText;
    }
  }
}


function loadXMLDoc2() {
  var xmlhttp = new XMLHttpRequest();
  var formElement = document.querySelector("form");
  var formData = new FormData(formElement);
  xmlhttp.open("POST", "{{ request.route_url('ajax_edit', entry_id=id) }}", true);
  xmlhttp.send(new FormData(formElement));

  xmlhttp.onreadystatechange = function (response) {
    if (xmlhttp.readyState === 4) {
      response = JSON.parse(xmlhttp.responseText);
      var title = document.getElementById('title1');
      var text = document.getElementById('text1');
      title.innerHTML = response['time'] + "  ----  " + response['title'];
      text.innerHTML = response['text'];
      document.getElementById('myDiv').style.display = 'none';
      document.getElementById('entry').style.display = 'initial';
      document.getElementById('edit_entry').style.display = 'initial';
    }
  }
}
</script>
{% endblock %}