<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tyler Peek | Home</title>
    <link href="/static/style.css" rel="stylesheet" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <a href="index.html" id="logo">
        <h1>Tyler Peek</h1>
        <h2>Python Developer</h2>
      </a>
      <nav>
        <ul>
          <li><a href="{{ request.route_url('home') }}">Home</a></li>
          <li><a href="{{ request.route_url('detail') }}" class="selected">Detail</a></li>
          <li><a href="{{ request.route_url('add') }}">Add</a></li>
          <li><a href="edit.html">Edit</a></li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <section>
        <ul id="entries">
          <li>

              <p>First Post  |  June 21st, 2015</p>
              <p>Hello! If you are reading this, then you must be one totally rad person! I can't wait to start learning at Code Fellows.</p>
              <a href="edit.html">Edit</a>

          </li>
        </ul>
      </section>
      <footer>
        </a>
        <p>&copy; 2015 Tyler Peek.</p>
      </footer>
    </div>
  </body>
</html>
