<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tyler Peek | Home</title>
    <link rel="stylesheet" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
  </head>
  <body id="add">
    <header>
      <a href="index.html" id="logo">
        <h1>Tyler Peek</h1>
        <h2>Python Developer</h2>
      </a>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="detail.html">Detail</a></li>
          <li><a href="add.html">Add</a></li>
          <li><a href="edit.html" class="selected">Edit</a></li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <section>
        <form>

          Journal Entry Title:<br>
          <input type="text" name="Title" id="title" value="First Post  |  June 21st, 2015">
          <br>
          <br>
          How was your day?<br>
          <textarea id="textbox">Hello! If you are reading this, then you must be one totally rad person! I can't wait to start learning at Code Fellows.</textarea>
          <br>
          <input type="submit">

        </form> 
      </section>
      <footer>
        </a>
        <p>&copy; 2015 Tyler Peek.</p>
      </footer>
    </div>
  </body>
</html>
