<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tyler Peek | Edit</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
  </head>
  <body id="add">
    <header>
      <a href="index.html" id="logo">
        <h1>Tyler Peek</h1>
        <h2>Python Developer</h2>
      </a>
      <nav>
        <ul>
          <li><a id="home" href="{{ request.route_url('home') }}">Home</a></li>
          {% if request.authenticated_userid %}
          <li><a id="add" href="{{ request.route_url('add') }}">Add</a></li>
          <li><a id="edit" class="selected">Edit</a></li>
          <li><a id="logout" href="{{ request.route_url('logout') }}">Log Out</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <section>
        <form>

          Journal Entry Title:<br>
          <input type="text" name="Title" id="title" value="{{title}}">
          <br>
          <br>
          How was your day?<br>
          <textarea id="textbox">{{text}}</textarea>
          <br>
          <input type="submit">

        </form>
      </section>
      <footer>
        </a>
        <p>&copy; 2015 Tyler Peek.</p>
      </footer>
    </div>
  </body>
</html>
