{% extends "base.jinja2" %}
{% block section %}
  {% if request.authenticated_userid %}
  <meta http-equiv="refresh" content="0; url={{ request.route_url('home') }}" />
  {% endif %}
    <nav>
      <ul>
        <li><a href="{{ request.route_url('home') }}">Home</a></li>
        <li><a id="login" class="selected">Login</a></li>
      </ul>
    </nav>
  </header>
  <div id="login_field">
  <h4>Login</h4>
  {% if error -%}
  <p class="error"><strong>Error</strong>: {{ error }}</p>
  {%- endif %}
    <form action="{{ request.route_url('login') }}" method="POST">
      <div class="field">
        <label for="username">Username</label>
        <input type="text" name="username" id="username"/><br><br>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password"/><br><br>
      </div>
      <div class="control_row">
        <input type="submit" name="Login" value="Login"/>
      </div>
    </form>
  </div>
</body>
{% endblock %}