<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tyler Peek | Login</title>
  <link href="/static/style.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
  {% if request.authenticated_userid %}
  <meta http-equiv="refresh" content="0; url={{ request.route_url('home') }}" />
  {% endif %}
</head>
<body>
  <header>
    <a href="{{ request.route_url('home') }}" id="logo">
      <h1>Tyler Peek</h1>
      <h2>Python Developer</h2>
    </a>
    <nav>
      <ul>
        <li><a href="{{ request.route_url('home') }}" class="selected">Home</a></li>
      </ul>
    </nav>
  </header>
  <div id="login_field">
  <h4>Login</h4>
  {% if error -%}
  <p class="error"><strong>Error</strong>: {{ error }}</p>
  {%- endif %}
    <form action="{{ request.route_url('login') }}" method="POST">
      <div class="field">
        <label for="username">Username</label>
        <input type="text" name="username" id="username"/><br><br>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password"/><br><br>
      </div>
      <div class="control_row">
        <input type="submit" name="Login" value="Login"/>
      </div>
    </form>
  </div>
</body>
</html>